/* Write your CSS here */
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  width: 640px;
  background-color: #150b3e;
  border-radius: 12px;
  padding: 36px;
  padding-left: 48px;
  padding-right: 48px;
  color: #d4d2db;
  font-size: xx-large;
}
.name-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: xx-large;
}
.name-head {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  background-color: #c7d2fe;
  color: #7c3aed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 32px;
}
.balance-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #585076;
  font-size: xx-large;
  margin: 0px;
}
.your-balance {
  margin: 0px;
}
.balance {
  color: #d4d2db;
  font-weight: 600;
  font-size: 40px;
  margin: 0px;
}
.balance-name {
  font-size: large;
  margin: 0px;
}
.choose {
  color: #585076;
  font-size: x-large;
}
.dominations-list {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
